.header_main__logo{
	text-align: center;
	margin-top: 55px;
}

.header_main__logo img {
/* 	width: 320px;
height: 100px; */
}

.on-main{
    display:block;
    height:100%;
    /*width:100%;*/
    /*position:fixed;*/
/*    left:0;
    top:0;*/
    /*z-index:0;*/
    /*text-indent:-5000em;*/
}

.navbar-brand {
    padding: 14px 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #6c190f;
    border-bottom: 1px solid #d5cb9d;
    border-radius: 10px;
    display: block;
    font-size: 17px;
    margin-bottom: 2px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus{
    	color: #000;
    	background-color: #E0D6A8;
    }
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #000;
  	background-color: #E0D6A8;
}

.nav .open > a {

	&:hover,
	&:focus{
		border-color: #d5cb9d;
	}
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #6c190f;
    border-bottom: 1px solid #d5cb9d;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 5px 0 10px 30px;

    &:hover,
    &:focus{
			color: #000;
  		background-color: #E0D6A8;
    }
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000;
  		background-color: #E0D6A8;
  		pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
}

.header_admin{
	height: 45px;
}

@media @mobile-widths-only {
	.header_main{
		margin: 5px;
		background-image: url("/web/img/header768_50.jpg");
		background-size: cover;
		background-position: center center;
		height: 100px;
	}
	
	.navbar-default {
	    background-color: #f4eabc;
	    bottom: 1px solid;
	    border-color: #25672D;
	    border-radius: 0 0 10px 10px;
    	margin: 0 5px;
	}

	.navbar-default .navbar-toggle  {
    border-color: #6c190f;

    &:focus,
    &:hover{
			border-color: #000;
			background-color: #E0D6A8;
    }

	}

	.navbar-default .navbar-toggle .icon-bar {
    background-color: #6c190f;
    &:focus,
    &:hover{
			border-color: #000;
			background-color: #000;
    }
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #6c190f;
	}

	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
    background-color: #d7cc9e;
    color: #000;
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
	}

	.navbar-fixed-top .navbar-collapse, 
	.navbar-fixed-bottom .navbar-collapse {
    max-height: 400px;
}


}

@media @tablet-widths {

	.navbar-default{
		background-color: transparent;
		border-color: transparent;
	}

	.header_main {
		display: flex;
		flex-direction: column;
		min-height: 0x;
	}

	.header_main{
		background-image: url("/web/img/header968_ll_50.jpg");
		/* background-position: center top 38px; */
		/* background-repeat: no-repeat; */
		background-size: cover;
		/* opacity: 0.3; */
	}

	.header_main__logo {
		order: 2;
		position: relative;
		width: 100%;
		height: 350px;
		margin-top: 50px;
		background-image: url("/web/img/header768.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		img {
			display: none;
		}
	}

	.navbar-default .navbar-nav > li > a,
.dropdown-toggle {
		background-color: #F4EABC;
    color: #6c190f;
    border-bottom: 1px solid #d5cb9d;
    border-radius: 10px;
    display: block;
    font-size: 16px;
    margin: 7px 3px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: none;

    &:hover,
    &:focus,
    &:active {
    	color: #000;
    	background-color: #E0D6A8;
    }
	}

	.dropdown > .dropdown-toggle {
		padding: 5px;
	}

	.navbar-default .navbar-nav > .active > a {  
			color: #000;
    	background-color: #E0D6A8;
	    &:focus,
	    &:hover {
	    	color: #000;
	    	background-color: #E0D6A8;
	    }
	}

	.navbar-fixed-top, .navbar-fixed-bottom {
	    position: absolute;
	}

	.dropdown-menu {
    background-color: #f4eabc;
    min-width: 100px;
    padding: 2px;
    text-align: center;
	}

	.navbar-nav > li > .dropdown-menu {
    border-radius: 10px;
    margin: 0;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px;
    font-size: 14px;
	}

	.navbar-brand {
    display: none;
}

}

@media @desktop-widths {

	.header_main{
		background-image: url("/web/img/header1200_ll_50.jpg");
/* 		background-position: center top 38px;
background-repeat: no-repeat;
background-size: cover; */
	}

	.header_main__logo{
		height: 350px;
		margin-top: 50px;
		background-image: url("/web/img/header1200.jpg");
	}

}